.popup{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.popup-content{
    height: auto;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heading{
    color: rgb(253, 67, 67);
}
.input1{
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    width: 50%;
    padding :8px;
    border: 1px solid black;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo{
    width: 200px;
    position: relative;
}
.logopart{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

}


.button-47 {
  align-items: center;
  background: #fc3b3b;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 18px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}