.main {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.buisness-image-div {
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in {
  height: 50%;
  width: 50%;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
