.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative;
  z-index: 1;
  vertical-align: center;
  padding-top: 2px;
}
.logo-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-item-fields {
  margin-top: 0;
  padding-top: 0px;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  margin-left: 20px;
}

.divider {
  width: 1px;
  background-color: rgb(79, 79, 79);
}

.search-icon {
  background-color: rgba(215, 22, 22, 1);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  top: 0;
  fill: currentColor;
  width: 50px;
  border-radius: 0 5px 5px 0;
  padding: 11.7px 0;
}
.search-icon-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
}
.search-box-right {
  font-family: "Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif";
}
.search-box-left {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.divider-container {
  background-color: white;
}
